/* About */
.about {
  padding: 110px 0 70px;
}
.about .section_title_box h2 > span::after {
  left: -4px;
  width: calc(100% + 7px);
  height: 3px;
  bottom: -16px;
}
.about_inner {
  display: grid;
  grid-template-columns: 1fr 1.4fr;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.04);
  overflow: hidden;
}

.about_profile {
  padding: 40px 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.about_info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about_info li {
  display: grid;
  grid-template-columns: 40px 110px 1fr;
  align-items: center;

  gap: 24px;

  margin-bottom: 0;

  color: #fff;
  font-size: 1.08rem;
}

.about_info li:last-child {
  margin-bottom: 0;
}

.about_info span {
  color: rgba(255, 255, 255, 0.75);
}

.about_info span:first-child {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about_info span i {
  color: #6cf3ff;
  font-size: 1.15rem;
}
.about_info span:nth-child(2) {
  color: rgba(255, 255, 255, 0.72);
  font-weight: 500;
}
.about_info strong {
  font-size: 1.12rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.about_skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px 34px;
  padding: 24px 44px;
}

.skill_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  color: rgba(255, 255, 255, 0.85);
  font-size: 0.9rem;
}

.skill_item img {
  width: 58px;
  height: 58px;
  object-fit: contain;

  border: 1.5px solid rgba(255, 255, 255, 0.288);
  border-radius: 10px;
  padding: 10px;
}

/* top button */
.top_btn {
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 200;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, 0.08);
  color: #6cf3ff;

  backdrop-filter: blur(10px);
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(12px);
  transition: 0.3s ease;
}
.top_btn:hover {
  background: #00ffff;
  color: #001b1d;
}
.top_btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
