/* after */
.after {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 120px;
  box-sizing: border-box;

  position: relative;
  margin-top: 80px;
}
.after .section_title_box h2 > span::after {
  left: -4px;
  width: calc(100% + 7px);
  height: 3px;
  bottom: -16px;
  background: #6cf3ff;
}
.after_mask {
  grid-column: 2;
  width: 100%;
  margin: 0;
  /* width: 95%; */
  padding: 14px;
  box-sizing: border-box;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);

  overflow: hidden;
  margin-left: 0;
}

.afterSwiper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 28px;
}

.afterSwiper .swiper-wrapper {
  align-items: center;
}

.afterSwiper .swiper-slide {
  height: 200px;
  opacity: 1;
  transform: none;
  transition: 0.4s ease;
  overflow: hidden;
  border-radius: 6px;
}

.afterSwiper video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

/* 페이지 점 */
.afterSwiper .swiper-pagination {
  bottom: 0;
}

.afterSwiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.afterSwiper .swiper-pagination-bullet-active {
  background: #00ffff;
}
/* modal */
.afterSwiper video {
  cursor: pointer;
}

.after_modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(14px);

  opacity: 0;
  visibility: hidden;

  transition: 0.35s ease;

  z-index: 9999;
}

.after_modal.show {
  opacity: 1;
  visibility: visible;
}

.after_modal_inner {
  width: min(1100px, 92vw);
}

.after_modal_inner video {
  width: 100%;
  max-height: 84vh;

  display: block;

  border-radius: 14px;
  object-fit: contain;

  background: #000;
}

.after_close {
  position: absolute;
  top: 34px;
  right: 44px;

  border: 0;
  background: none;

  color: #fff;

  font-size: 2.4rem;
  line-height: 1;

  cursor: pointer;
}
