body {
  margin: 0;
  background: #001005;
  scroll-behavior: smooth;
}
a,
button,
#nav,
.intro,
video {
}

/* cursor */
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999;
}

.circle {
  position: fixed;
  top: 0;
  left: 0;

  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    width 0.25s ease,
    height 0.25s ease,
    background 0.25s ease,
    opacity 0.25s ease;
}

.circle1 {
  width: 40px;
  height: 40px;
  z-index: 3;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}
.circle1 span {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.circle2 {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  z-index: 2;
}
.circle3 {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  z-index: 1;
}
/* hover 효과 */
.cursor.hover .circle1 span {
  opacity: 1;
}
.cursor.hover .circle2 {
  opacity: 0.25;
}
.cursor.hover .circle3 {
  opacity: 0;
}

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro video {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1.2s ease;
}
.intro video.show {
  opacity: 1;
}

/* nav */
#header {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  z-index: 100;
}

#nav {
  height: 52px;

  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);

  transition:
    opacity 1s ease,
    transform 1s ease,
    visibility 1s;

  pointer-events: none;
}
#nav.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
#nav ul {
  height: 52px;

  display: flex;
  align-items: center;
  gap: 40px;

  padding: 0 30px;
  margin: 0;
  list-style: none;

  background: rgba(255, 255, 255, 0.733);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  backdrop-filter: blur(10px);
}
#nav ul li {
  position: relative;
}
#nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 999px;

  opacity: 0;
  transform: scaleX(0);
  transition: 0.3s ease;
}
#nav ul li:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
#nav a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
#nav a:hover {
  color: #fff;
}

/* artwork */
.artwork {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
}
.art_inner {
  position: absolute;
  left: 462px;
  top: 196px;

  display: flex;
  align-items: center;
  gap: 180px;
}
.artwork img {
  width: min(460px, 100vw);
  height: auto;
}
.art_text {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.art_title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.art_desc {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

/* banner */
.banner {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 80px 0 80px 0;
}
.banner_title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.banner_desc {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
.slider_mask {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.bannerSwiper {
  width: 100%;
  overflow: visible;
  padding: 100px 0;
  perspective: 1200px;
}
.banner .swiper-wrapper {
  align-items: center;
  transform-style: preserve-3d;
}
.banner .swiper-slide {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.8;
  filter: blur(4px);
  transform: scale(0.55) translateY(120px);
  transition: all 0.6s ease;
}
.banner .swiper-slide-active {
  opacity: 1;
  filter: blur(0);
  z-index: 10;
  transform: scale(1.15) translateY(-20px) translateZ(60px);
}
.banner .swiper-slide-prev {
  z-index: 6;
  transform: scale(0.9) translateX(40px) translateY(30px) translateZ(-40px);
  filter: blur(2px);
  opacity: 0.75;
}

.banner .swiper-slide-next {
  z-index: 6;
  transform: scale(0.9) translateX(-40px) translateY(30px) translateZ(-40px);
  filter: blur(2px);
  opacity: 0.75;
}
.banner .swiper-slide-prev-prev {
  z-index: 3;
  transform: scale(0.78) translateX(60px) translateY(70px) translateZ(-180px);
  filter: blur(4px);
  opacity: 0.35;
}

.banner .swiper-slide-next-next {
  z-index: 3;
  transform: scale(0.78) translateX(-60px) translateY(70px) translateZ(-180px);
  filter: blur(4px);
  opacity: 0.35;
}
.banner img {
  width: 300px;
  height: auto;
  display: block;
}
.bannerSwiper .swiper-button-next,
.bannerSwiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ffffffdc;
}
